.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog{
    
}

.dialogsItems{
    padding: 20px 0 0 20px;
}
.dialogsItems a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

.dialogsItems .active{
    color: gold;
}

.messages{
    padding: 20px 0 0 20px;
    font-size: 18px;
    color: aliceblue;
}

.message{

}